@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}

body {
    background: #57007E;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 25px;
}

input {
    padding: 1px;
}

.popup {
    width: 50em;
    height: 39.5em;
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: content-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
    border: 5px solid #000000;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup .title {
    margin: 5px 0px;
    font-size: 60px;
    font-weight: 600;
}

.popup .description p {
    color: #000000;
    font-size: 22px;
    padding: 10px;
    font-family: 'Neuton', serif;
    text-align: justify;
}

span {
    font-family: 'Neuton', serif;
    font-weight: 900;
}

.ily {
    font-family: 'Koulen', cursive;
    font-size: 40px;
    justify-content: center;
}

.popup .download-btn {
    margin-top: 15px;
    align-items: center;
}

.popup .download-btn a {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    transition: all 300ms ease-in-out;
    font-size: 20px;
    text-decoration: none;
}

.popup .download-btn a:hover {
    color: #FFFFFF;
    background-color: #57007E;
}
