@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}

body {
    background-color: #57007E;
}

.wrapper {
    box-sizing: content-box;
    width: 22em;
    height: 30em;
    padding: 3em 3em;
    background-color: #FFFFFF;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: solid 4px #000000;
    border-radius: 0.6em;
    box-shadow: 0 0.9em e.8em rgba(86, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.stats-container {
    text-align: right;
    margin-bottom: 1em;
}

.stats-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 3.2em;
    height: 3.2em;
    cursor: pointer;
}

.card-before, .card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 4px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background-color: #57007E;
    font-size: 2.8em;
    font-weight: 400;
    color: #000000;
}

.image {
    width: 2.4em;
    height: 2.4em;
}

.card-after {
    background-color: #FFFFFF;
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #57007E;
    top: 0;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1em auto 0 auto;
    background-color: #000000;
    color: #FFFFFF;
}

#start {
    background-color: #000000;
    color: #FFFFFF;
}


.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 80px;
    font-weight: 100;
    color: #000000;
}

#result h4 {
    font-size: 2em;
    margin: 0.6em 0 1em 0;
    color: #000000;
}

#result a {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    background-color: #000000;
    font-size: 30px;
}


#title {
    text-align: center;
    font-weight: lighter;
}

p {
    text-align: justify ;
}